<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RECOPE - Proyecto de Mantenimiento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/styles/font-lato.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="styles/ordersData.css">
    <link rel="stylesheet" href="styles/orderDetailTemplate.css">
  </head>
  <body ng-app="RecopeApp" ng-controller="MainCtrl" ng-cloak>
    <div class="index-container">
      <header class="header-banner">
        <a ui-sref="orders" class="title-brand">RECOPE</a>
        <a class="sync-btn fa fa-refresh" ng-click="showSync = !showSync" ng-class="{ 'syncro-rotate' : idle }"></a>
      </header>
      <div class="well" ng-if="showSync">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-center">
              <h4 class="fa fa-rss fa-3x"></h4>
              <h3>Estado de la conexión</h3>
              <p ng-show="!online" class="text-color-0">Sin conexión</p>
              <p ng-show="online" class="text-color-1">Online</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="text-center">
              <i class="fa fa-calendar fa-3x"></i>
              <h3>Última sincronización</h3>
              <p><time>{{ getLastUpdate | date: dateFormat }}</time></p>
              <button ng-disabled="!online" type="button" class="btn btn-primary" ng-click="syncro()"><span class="fa fa-refresh"></span> Sincronizar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-container">
        
      </div>
      <ui-view class="layout-content"></ui-view>
    </div>
  <!-- Scripts. -->
  <script src="assets/vendor/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
  <script src="assets/vendor/angular-animate.js"></script>
  <script src="assets/vendor/angular-ui-router.min.js"></script>
  <script src="assets/vendor/angular-local-storage.min.js"></script>
  <script src="scripts/services/dataService.js"></script>
  <script src="scripts/controllers/mainCtrl.js"></script>
  <script src="scripts/services/orderService.js"></script>
  <script src="scripts/controllers/mainCtrl.js"></script>
  <script src="scripts/controllers/ordersCtrl.js"></script>
  <script src="scripts/controllers/orderDetailCtrl.js"></script>
  <script src="scripts/controllers/loginCtrl.js"></script>
  <script src="scripts/filters/filteringStatus.js"></script>
  <script src="scripts/directives/confirmClick.js"></script>
  <script src="app.js"></script>
  </body>
</html>
