<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RECOPE - Proyecto de Mantenimiento</title>
  <link rel="stylesheet" href="assets/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="assets/styles/font-lato.css">
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="stylesheet" href="styles/ordersData.css">
  <link rel="stylesheet" href="styles/orderDetailTemplate.css">
</head>
<body ng-app="RecopeApp" ng-controller="MainCtrl" ng-cloak>
  <div class="l-container">

    <!-- Header. -->
    <header class="l-header">
      <a ui-sref="orders" class="l-header__brand">RECOPE</a>
      <a class="l-header__sync fa fa-refresh" ng-click="showSync = !showSync" ng-class="{ 'l-header__sync--idle' : idle }"></a>
    </header>

    <!-- Sync bar. -->
    <div class="l-sync" ng-if="showSync">
      <em class="fa fa-rss"></em>
      <h3>Estado de la conexión</h3>
      <p ng-show="!online" class="text-color-0">Sin conexión</p>
      <p ng-show="online" class="text-color-1">Online</p>
      <hr>
      <em class="fa fa-calendar"></em>
      <h3>Última sincronización</h3>
      <p><time>{{ getLastUpdate | date: dateFormat }}</time></p>
      <button ng-disabled="!online" class="sync-button" ng-click="syncro()"><span class="fa fa-refresh"></span> Sincronizar</button>
    </div>

    <!-- Viewport. -->
    <ui-view class="l-content"></ui-view>
  </div>

  <!-- Scripts. -->
  <script src="assets/vendor/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.js"></script>
  <script src="assets/vendor/angular-animate.js"></script>
  <script src="assets/vendor/angular-ui-router.min.js"></script>
  <script src="assets/vendor/angular-local-storage.min.js"></script>
  <script src="app.js"></script>
  <script src="scripts/services/dataService.js"></script>
  <script src="scripts/controllers/mainCtrl.js"></script>
  <script src="scripts/services/orderService.js"></script>
  <script src="scripts/controllers/mainCtrl.js"></script>
  <script src="scripts/controllers/ordersCtrl.js"></script>
  <script src="scripts/controllers/orderDetailCtrl.js"></script>
  <script src="scripts/filters/filteringStatus.js"></script>
</body>
</html>
