* {
  box-sizing: border-box;
  outline: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

body, html, .index-container {
  color: #2C3E50;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

button[disabled] {
  opacity : 0.5;
}

[ng-cloak] {
  display: none;
}

.index-container {
  display: flex;
  flex-direction: column;
}

.header-banner {
  background-color: #3498DB;
  color: white;
  font-size: 1.5em;
  padding: 15px;
}

.title-brand {
  color: white;
  font-weight: bold;
}

.title-brand:active {
  color: #3498DB;
}

.sync-btn {
  color: white;
  cursor: pointer;
  float: right;
}

.syncro-rotate {
  -webkit-animation: rotate 1s infinite;
}

@-webkit-keyframes rotate {
  0%   { transform: rotate(0deg) }
  50%  { transform: rotate(360deg) }
}

.sync-button {
  background-color: #3498DB;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  margin-top: 25px;
  padding: 10px;
  width: 300px;
}

.layout-content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.btn {
  border-radius: 0;
}

.non-border-rad {
  border-radius: 0;
}

.order-detail-title {
  background-color: #34495E;
  color: #95A5A6;
  padding: 10px 0px 20px 15px;
}

.module-container {
  flex: 1;
  overflow: scroll;
}

.text-color-0 {
  color: #BDC3C7;
}

.text-color-1 {
  color: #2980B9;
}

.text-color-2 {
  color: #D35400;
}

.text-color-3 {
  color: #2ECC71;
}
