<div class="container login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <form class="form-login" ng-controller="LoginController" ng-submit="login()">
        <h4>Bienvenido</h4>
        <input ng-model="credentials.username" type="text" id="userName" class="form-control input-sm chat-input" placeholder="Usuario">
        </br>
        <input ng-model="credentials.password" type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="Contraseña">
        </br>
        <input ng-model="credentials.planta" type="text" class="form-control input-sm chat-input" placeholder="Planta">
        </br>
        <input ng-model="credentials.planGroup" type="text" class="form-control input-sm chat-input" placeholder="PlanGroup">
        </br>
        <div class="wrapper">
          <span class="group-btn">     
            <button class="btn btn-primary btn-md" type="submit">Entrar <i class="fa fa-sign-in"></i></button>
          </span>
        </div>
      </form>      
    </div>
  </div>
</div>