<div class="order-detail-title order-header">Detalle de la orden
  <a ui-sref="orders" class="close-btn fa fa-times-circle"></a>
</div>
<div class="module-container order-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-padding">
        <div class="panel panel-default panel-edited">
          <div class="panel-heading headings">
            <h4>Orden {{data.order}}</h4>
          </div>
          <div class="panel-body">
            <p>{{data.header}}</p>
            <table class="table">
              <tr ng-repeat="detail in data.details">
                <th>{{detail.label}}</th>
                <td>{{detail.value}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-padding">
        <div class="panel panel-default panel-edited"
             ng-repeat="operation in data.operations | FilteringStatus"
             ng-class="{ 'operation-completed': operation.status === 3 }">
          <div class="panel-heading headings"><h4>{{operation.title}}</h4></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-7">

                <div class="padding-bottom">
                  <div ng-if="operation.lastStart" class="total-time"><strong>Inicio:</strong>
                    <time>{{ (operation.start || operation.lastStart) | date:dateFormat }}</time>
                  </div>
                  <div ng-if="operation.end" class="total-time"><strong>Fin:</strong>
                    <time>{{ operation.end | date:dateFormat }}</time>
                  </div>
                  <div class="padding-bottom" role="group">
                    <button ng-if="!operation.playing"
                            ng-click="startOperation(operation)"
                            class="btn btn-success btn-sm ">
                      <i class="fa fa-play"></i>
                    </button>
                    <button ng-if="operation.playing"
                            ng-click="pauseOperation(operation)"
                            class="btn btn-warning btn-sm">
                      <i class="fa fa-pause"></i>
                    </button>
                    <button confirmed-click="finishOperation(operation)"
                            ng-disabled="operation.playing || !operation.end"
                            ng-confirm-click="¿Seguro que desea notificar esta operación?"
                            class="btn btn-danger btn-sm">Notificación final
                    </button>
                  </div>

                  <select class="form-control">
                    <option selected value="">Motivos de desviación</option>
                    <option value="operation.motivouno">1er motivo</option>
                    <option value="operation.motivodos">2do motivo</option>
                    <option value="operation.motivotres">3er motivo</option>
                    <option value="operation.motivocuatro">4to motivo</option>
                  </select>
                </div>

                <div class="row">
                  <div class="col-sm-10 col-xs-10">
                    <input ng-model="operation.detailText" type="text" class="form-control" placeholder="Detalle">
                    <div class="well well-sm detail-text" ng-show="operation.detailText.length">
                      <p class="text-muted" ng-show="operation.detailText.length">{{operation.detailText}}</p>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-primary btn-md print-button">
                      <i class="fa fa-print"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <span class="detail-isTitle">Detalles</span>
                <div class="total-time">
                  <strong>Estado:</strong><span class="text-color-{{ operation.status }}"> {{ statuses[operation.status] }}</span>
                </div>
                <div class="total-time">
                  <strong>Tempo planificado:</strong> {{ timeFormatter(operation.duration) }}
                </div>
                <div ng-if="operation.partialTime" class="total-time">
                  <strong>Tempo parcial:</strong>
                    <span ng-class="{ 'text-color-2' : operation.partialTime > operation.duration }">{{ timeFormatter(operation.partialTime) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-padding">
        <div class="panel panel-default panel-edited">
          <div class="panel-heading headings"><h4>Mediciones</h4></div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr ng-repeat="medicion in data.mediciones">
                  <th>{{medicion.label}}</th>
                  <td>{{medicion.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

