<div class="orders-data" ng-class="{ 'panels-collapsed': ordersCtrl.$state.current.name === 'orders.order' }">
  <div class="order-detail-title">Lista de ordenes</div>
    <div class="container">
      <div class="module-container row">
        <a class="order-isItem col-sm-12"
          ng-repeat="order in ordersCtrl.data"
          ui-sref="orders.order({ id: order.id })">
          <div class="order-isInfo">
            <h4 class="item-isTitle">Orden {{order.id}} - {{order.descripcionCabecera}}</h4>
            <p class="item-isDescription">{{order.grupoPlanificador}}</p>
          </div>
          <div class="item-isChevron"><i class="fa fa-chevron-right"></i></div>
        </a>
      </div>
    </div>
</div>

<ui-view class="order"></ui-view>
