<div class="order-detail-title order-header">Detalle de la orden
  <a ui-sref="orders" class="close-btn fa fa-times-circle"></a>
</div>
<div class="module-container order-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-padding">
        <div class="panel panel-default panel-edited">
          <div class="panel-heading headings">
            <h4>Orden {{data.order}}</h4>
          </div>
          <div class="panel-body">
            <p>{{data.header}}</p>
            <table class="table">
              <tr ng-repeat="detail in data.details">
                <th>{{detail.label}}</th>
                <td>{{detail.value}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-padding">
        <div class="panel panel-default panel-edited"
             ng-repeat="operation in data.operations | FilteringStatus"
             ng-class="{ 'operation-completed': operation.status === 3 }">
          <div class="panel-heading headings"><h4>{{operation.title}}</h4></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-7">
                <div ng-if="operation.lastStart" class="total-time"><strong>Inicio:</strong>
                  <time>{{ (operation.start || operation.lastStart) | date:dateFormat }}</time>
                </div>
                <div ng-if="operation.end" class="total-time"><strong>Fin:</strong>
                  <time>{{ operation.end | date:dateFormat }}</time>
                </div>
                  <button ng-if="!operation.playing"
                          ng-click="startOperation(operation)"
                          class="btn btn-success btn-sm ">
                    <i class="fa fa-play"></i>
                  </button>
                  <button ng-if="operation.playing"
                          ng-click="pauseOperation(operation)"
                          class="btn btn-warning btn-sm">
                    <i class="fa fa-pause"></i>
                  </button>
                  <button confirmed-click="finishOperation(operation)"
                          ng-disabled="operation.playing || !operation.end"
                          ng-confirm-click="¿Seguro que desea notificar esta operación?"
                          class="btn btn-danger btn-sm">Notificación final
                  </button>

                  <div class="dropdown padding-top">
                    <button class="btn btn-default btn-sm dropdown-toggle"
                            type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-expanded="true">
                            Motivos de desviación
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Motivo de desviación 1</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Motivo de desviación 2</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Motivo de desviación 3</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Motivo de desviación 3</a>
                      </li>
                    </ul>
                  </div>
                <hr>
                <div class="row">
                  <div class="col-sm-10 col-xs-10">
                    <input type="text" class="form-control non-border-rad" placeholder="Detalle">
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-primary btn-md print-button">
                      <i class="fa fa-print"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <span class="detail-isTitle">Detalles</span>
                <div class="total-time">
                  <strong>Estado:</strong><span class="text-color-{{ operation.status }}"> {{ statuses[operation.status] }}</span>
                </div>
                <div class="total-time">
                  <strong>Tempo planificado:</strong> {{ timeFormatter(operation.duration) }}
                </div>
                <div ng-if="operation.partialTime" class="total-time">
                  <strong>Tempo parcial:</strong>
                    <span ng-class="{ 'text-color-2' : operation.partialTime > operation.duration }">{{ timeFormatter(operation.partialTime) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-padding">
        <div class="panel panel-default panel-edited">
          <div class="panel-heading headings"><h4>Mediciones</h4></div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr ng-repeat="medicion in data.mediciones">
                  <th>{{medicion.label}}</th>
                  <td>{{medicion.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

