.orders {
  background-color : #f5f5f5;
  display        : flex;
  flex-direction : column;
  /*transition     : all 1s ease;*/
  width          : 100%;
}

.orders--collapsed {
  display: none;
}

  .orders__item {
    border-bottom : 1px solid #ccc;
    display       : flex;
    overflow      : hidden;
    padding       : 15px;
  }

  .orders__item--active {
    background-color : #95A5A6;
    color            : white;
  }

  .orders__item--active .orders__item__chevron {
    display : none;
  }

  .orders__item--active .orders__item__description {
    color : white;
  }

  .orders__item__title, .orders__item__description {
    margin : 0;
  }

    .orders__item:last-child {
      border-bottom : none;
    }

    .orders__item__info {
      flex : 1;
    }

    .orders__item__title {
      margin-bottom : 10px;
    }

    .orders__item__description {
      color     : #95A5A6;
      font-size : 0.85em;
    }

    .orders__item__chevron {
      align-items      : center;
      color            : #ccc;
      display          : flex;
      font-size        : 35px;
    }
