.order {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.panel-edited,
.headings  {
  border-radius: 0;
}

.panel-edited > .headings {
  background: #34495E;
  border: none;
  color: white;
}

.order.ng-leave {
  transform: translateX(0);
}

.order.ng-leave-active {
  transform: translateX(100%);
}

.order-header {
  background-color: #95A5A6;
  color: white;
}

.close-btn {
  color: white;
  float: right;
}

.order-container {
  padding: 10px;
}

.operation {
  border-radius: 5px;
  border: 1px solid #ECF0F1;
  overflow: hidden;
}

.operation + .operation {
  margin-top: 30px;
}

.operation-completed {
  opacity: 0.6;
  pointer-events: none;
}

.total-time {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.detail-isTitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.print-button {
  float: right;
}

.row .col-padding {
  padding: 0 5px;
}

div.padding-top,
.select-actividad {
  margin-top: 5px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.detail-text {
  margin-top: 5px;
  padding: 4px;
}

.detail-text p {
  font-size: 13px;
  line-height: 15px;
  max-height: 60px;
  overflow: auto;
  width: 100%;
  word-wrap: break-word;
}
